//- index.jade
extends ./layout.jade

block row-content
  div.row
    div.col-lg-12
        h2 Me anything about travel ask.  Hmmmmmm.
        div.well
          form#qaForm.form-horizontal(method='post')
            fieldset
              div.form-group.row
                div.col-lg-10(style="margin-top:10px;")
                  input#questionText.form-control(name="questionText",
                    placeholder="Type a question...",
                    required="true", value='#{questionText ? questionText : ""}')
                  a.btn.btn-link(href="javascript:showExample(true)", style="padding-left:0px;") Me an example question ask.
                div.col-lg-2(style="margin-top:10px;")
                  button.btn.btn-block(type='submit') Ask
  div.row
    div.col-lg-12
      if answers && answers.question
        h2 My answer, here is.
        div.well
          //- check if there are answers
          if answers.question.evidencelist && answers.question.evidencelist.length > 0
            each answer, index in answers.question.evidencelist
              div.form-group.row
                div.col-lg-12
                  p #{answer.text}
          else
            div.col-lg-12 For that question no answers, with another question try.  
      if error
        h2 Output
        div.well
          div.form-group.row
            div.col-lg-12
          p(style="font-weight:bold;color:red;") Error: #{error}
